<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="retailmanager.spyhunter272.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.package.name.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/edit_btn" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CustomerActivity"
            android:label="@string/customer"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ProductActivity"
            android:label="@string/products"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.BarcodeActivity"
            android:label="@string/barcode_scanner"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.InvoiceActivity"
            android:label="@string/invoice"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.InvoiceFromActivity"
            android:label="@string/invoice_form_label"
            android:parentActivityName=".activity.InvoiceActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.RetailInformationActivity"
            android:label="@string/retail_info_label"
            android:parentActivityName=".activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="30b5e476961cc09bd99a99994e3cd5fcb6692df3" />

        <activity
            android:name=".activity.InvoiceShowActivity"
            android:label="@string/invoice_print"
            android:parentActivityName=".activity.InvoiceActivity" />

        <activity android:name=".activity.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".activity.HomeActivity" />

    </application>

</manifest>